@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); /* Bree Serif */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap'); /* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');  /* Quicksand */

#maincontainer {
    margin: 0;
    padding: 0%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background:linear-gradient(#FDBC00, #fd7200)
}

/* GERAL */

.subtitulos {
    color: #000000;
    font-family: 'Bree Serif', serif;
    font-size: 51px;
    text-align: center;
}

.socialmedia {
    width: 150px;
    height: 120px;
}

/* HEADER */

#header{
    display: flex;
    background: white;
    color: black;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    font-family: 'Quicksand', sans-serif;
}

#header div{
    font-size: 17px;
    align-self: center;
    align-items: center;
}

#logo {
    width: 70px;
    height: 70px;
}

#linkleft {
    display: flex;
}

#linkleft img, h2{
    margin-right: 30px;
}

/* AMERICAN TASTE HAMBURGUERIA */

h1 {
    color: #000000;
    font-family: 'Bree Serif', serif;
    font-size: 76px;
    text-align: center;
    align-self: center;
    word-spacing: 10px;
    letter-spacing: 1px;
}


/* CARDAPIO */

#containercardapio {
    justify-content: center; 
    display: flex; 
    width: 100%;
}

#cardapiopng {
    width: 60px;
    height: 66px;
    margin-right: 5px;
}

/* PEDIDO */

#containerpedido {
    align-items: center;
    justify-content: space-evenly; 
    max-width: 1200px; 
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}


figure {
    justify-content: center;
    text-align: center;
    height: 130px;
}

figure figcaption {
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

/* REDES SOCIAIS */

#containerredes {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px;
}

