@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); /* Bree Serif */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap'); /* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');  /* Quicksand */

#maincontainer {
    margin: 0;
    padding: 0%;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/* HEADER */

#header{
    display: flex;
    background: #000000f3;
    color: white;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    font-family: 'Quicksand', sans-serif;
    transition: translateX(-50%) translateY(-50%)
}

#header div{
    font-size: 17px;
    align-items: center;
    gap: 30px;
}

a, a:hover, a:visited, a:link, a:active
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#logo {
    width: 90px;
    height: 80px;
    margin-left: 10px;
}

#linkleft {
    display: flex;
}

#linkright {
    margin-right: 30px;
}


.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

h2{
    margin-bottom: 0px;
}

@media(max-width: 800px)
{
    #logo {
        width: 70px;
        height: 60px;
    }


    #header div{
        gap: 15px;
    }

    .h2, h2 {
        font-size: 1.5em;
    }

    #linkright {
        margin-right: 10px;
    }
}

@media(max-width: 600px)
{
    #header{
        height: 50px;
    }
    
    #logo {
        width: 60px;
        height: 50px;
        margin-left: 0px;
    }


    #header div{
        font-size: 17px;
        gap: 13px;
    }

    .h2, h2 {
        font-size: 1em;
    }

}

@media(max-width: 430px)
{
    #logo {
        width: 60px;
        height: 50px;
    }


    #header div{
        gap: 10px;
    }

    #header{
        height: 50px;
    }

    .h2, h2 {
        font-size: 0.8em;
    }

    #linkright {
        margin-right: 10px;
    }
}

@media(max-width: 360px)
{
    #logo {
        width: 60px;
        height: 50px;
    }


    #header div{
        gap: 8px;
    }

    .h2, h2 {
        font-size: 0.7em;    
    }

    #linkright {
        margin-right: 20px;
    }
}


h1 {
    color: #000000;
    font-family: 'Bree Serif', serif;
    font-size: 76px;
    text-align: center;
    align-self: center;
    word-spacing: 10px;
    letter-spacing: 1px;
}

.propaganda img{
    width: 734px;
    height: 488px;
    border: 5px solid black;
}

#carouselExampleSlidesOnly{
    margin: 0;
}

#funcionamento{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#funcionamento p {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    line-height: 33px;
    padding-top: 10px;
}

#caixavermelha{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 174px;
    height: 45px;
    color: white;
    background: #A71315;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

@media(max-width: 1144px){
    h1{
        font-size: 50px;
    }

    #funcionamento p {
        font-size: 25px;
        letter-spacing: 0px;
    }
}

@media(max-width: 850px){
    h1{
        font-size: 35px;
    }

    #funcionamento p {
        font-size: 15px;
        padding-top: 0px;
    }

    p {
        margin-bottom: 0rem;
    }

    #caixavermelha{
        width: 154px;
        height: 40px;
        font-size: 20px;
    }

    #funcionamento{
        margin-top: 10px;
    }

    #caixavermelha{
        width: 144px;
        height: 35px;
        font-size: 15px;
    }
}

@media(max-width: 576px){ /* Começo mobile */
    .container{
        padding-right: 0px;
        padding-left: 0px;
    }

    #slidepropaganda1{
        content:url(conteudo/imagens/s1.PNG)
    }

    #slidepropaganda2{
        content:url(conteudo/imagens/s2.PNG)
    }

    #slidepropaganda3{
        content:url(conteudo/imagens/s3.PNG)
    }

    .propaganda img{
        height: 534px;
        border: 0px solid black;
    }

    h1{
        font-size: 25px;
        word-spacing: 3px;
        letter-spacing: 0px;
        margin: 5px;
    }

    #funcionamento p {
        font-size: 15px;
        letter-spacing: 0px;
    }

    #caixavermelha{
        width: 124px;
        height: 35px;
        font-size: 15px;
    }


}

@media(max-width: 476px){
    h1{
        font-size: 20px;
    }

    #funcionamento p {
        font-size: 12px;
        letter-spacing: 0px;
    }

    #caixavermelha{
        width: 94px;
        height: 25px;
        font-size: 12px;
    }

    #funcionamento{
        gap: 5px;
    }

    .propaganda img{
        height: 434px;
        border: 0px solid black;
    }
}

@media(max-width: 376px){
    h1{
        font-size: 20px;
    }

    #funcionamento p {
        font-size: 10px;
        letter-spacing: 0px;
    }

    #caixavermelha{
        width: 74px;
        height: 18px;
        font-size: 9px;
    }

    #funcionamento{
        gap: 3px;
    }

    .propaganda img{
        height: 400px;
        border: 0px solid black;
    }
}


