@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); /* Bree Serif */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap'); /* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');  /* Quicksand */

/* GERAL */

#maincontainer{
    margin: 0;
    padding: 0%;
}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(110deg, #ffffff 85%, #f81d00 74%);
}

/* #main{
    background-color: linear-gradient(10deg, #ffffff 85%, #f8d300 74%);
}
 */
h2{
    margin-bottom: 0px;
    margin-top: 2px;
}

h1{
    color: #000000;
    font-family: 'Bree Serif', serif;
    font-size: 76px;
    text-align: center;
    align-self: center;
    word-spacing: 10px;
    letter-spacing: 0px;
}

.subtitulos {
    color: #000000;
    font-family: 'Bree Serif', serif;
    font-size: 51px;
    text-align: center;
}

/* HEADER */

#header{
    display: flex;
    background: #000000f3;
    color: white;
    width: 100%;
    height: 70px;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid gray;
    font-family: 'Quicksand', sans-serif;
    transition: translateX(-50%) translateY(-50%) /* Animação */
}

#header a{
    font-size: 17px;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}

a, a:hover, a:visited, a:link, a:active
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#logo{
    width: 90px;
    height: 80px;
    margin-left: 10px;
}

#linkleft{
    display: flex;
}

#linkright{
    margin-right: 30px;
    margin-left: 30px;
}


.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}

/* SECTION 1 AMERICAN TASTE HAMBURGUERIA + SLIDER */

.propaganda img{
    width: 734px;
    height: 488px;
}

#carouselExampleSlidesOnly{
    margin: 0;
}

#funcionamento{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#funcionamento p{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}

#caixavermelha{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 174px;
    height: 45px;
    color: white;
    background: #A71315;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}


/* CARDAPIO */

#containercardapio{
    justify-content: center; 
    align-items: center;
    display: flex; 
    width: 100%;
    margin-top: 10px;
}

#cardapiopng{
    width: 60px;
    height: 66px;
    margin-right: 5px;
}

#cardapioheader{
    font-family: 'Bree Serif', serif;
    font-size: 60px;
}

/* SLIDER */


.carousel-control-next, .carousel-control-prev{
    width: 35%;
}

.carousel-control-next-icon{
    background-image: url(conteudo/imagens/setaright.png);
    display: inline-block;
    width: 150px;
    height: 200px;
    position: absolute;
    margin-left: 550px;
}

.carousel-control-prev-icon{
    background-image: url(conteudo/imagens/setaleft.png);
    width: 150px;
    height: 200px;
    position: absolute;
    margin-right: 550px;
}


.borda{
    border: 10px solid black;
    margin: 20px;
}


.carousel-indicators li{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #212529;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}


.cardapio img{
    height: 900px;
    width: 900px;
}

/* SECTION FAÇA SEU PEDIDO */

/* PEDIDO */

#containerpedido {
    display: grid;
    grid-template-areas: "ifood whatsapp delivery";
    place-items: center;
    max-width: 1200px; 
    margin: 0 auto;
    margin-top: 30px;
}


#containerpedido a img{
    text-align: center;
    height: 130px;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    line-height: 1;
    color: black;
}

#pedidodivinfo{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/* REDES SOCIAIS */

#containerredes{
    display: grid;
    grid-template-areas: "facebook instagram";
    place-items: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

figure{
    text-align: center;
}

figure a img{
    height: 140px;
}

figcaption{
    font-size: 30px;
}


